@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Inter&family=Roboto&display=swap');

/*falta color rojo al corazon*/

*{
box-sizing: border-box;
margin: 0;
}

body{
font-family:'roboto';
}

            /*HEADER*/

header div.contain_1{
    background: #1CD1B0 ;
    height: 7vh;   
}

header div p{
    display: inline-block;
    margin: 1%;
}

header div.contain_2{
    background: #00669F;
    height: 15vh;
}

header div h1{
    display: inline-block;
    margin: 2% 1%;
}

.contain_3{
    background:#001D2D;
    height: 40px;
}

div.contain_3 ul{
    display: flex;
    color: white;
    list-style: none;
    justify-content: end;
}

div.contain_3 ul li{
    margin-right: 20px;
    margin-top: 10px;
    
}


            /*main*/

main div{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 5% ;
    margin-bottom: 5% ;
}

main div section{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    height: 85vh;
    width: 22vw;
    align-items: center;
    text-align: center;
    justify-content: start;
    position: relative;
    border-radius: 10% 10% 0% 0%;
}

main div section img, a{
    position:absolute;
}

main div section img.imagenredonda{
    position: absolute;
    margin-top: 45%;
    border-radius: 50%;
}


.likeheart{
    position:absolute;
    color: red;
    margin: 5% 80% 0% 0%;
    font-size: 30px;
}

main div section h2{
    margin-top: 90%;
}

main div section p{
    margin-top: 5%;
}

main div section button{
    background-color: #00669F;
    color: white;
    height: 6vh;
    width: 8vw;
    margin-top: 8%;
    border: none;
    border-radius: 50px;
}

            /*footer*/

footer div{
    background-color: #00669F;
    height: 7vh;
}

footer div p{
    display: block;
    color: white;
    text-align: center;
}

/*form*/

main div.formularioAñadir{
    background: #00669F;
    border-radius: 50px;
    height: 85vh;
    margin: 40px 245px;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter';
    color: white;
}



main div button{
    background: #1CD1B0;
    border-radius: 23px;
    color: black;
    height: 65px;
    width: 300px;
    font-family:'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    border: none;
}

.style{
    width:12vw ;
    height: 5vh;
    background: white;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
}

.datos{
    display:flex;
}